<section id="projects" class="section">
  <h2 class="projects-title">Projects</h2>
  <div class="projects-list">
    <div class="project-card">
      <div class="project-header">
        <h3>Development Of Point-Of-Sale and Meat Inventory System</h3>
      </div>
      <div class="project-body">
        <p>A Point of Sale (POS) system is a tool with software and hardware that helps businesses take
          payments, manage sales, and track inventory in real time. It is better than old cash registers
          because it gives reports and allows many types of payments, like digital and contactless. 
          POS systems help small businesses work faster, make fewer mistakes, and give better service
          by automating tasks and showing sales and stock data quickly.
        </p>
      </div>
    </div>
    <div class="project-card">
      <div class="project-header">
        <h3>Student Information System</h3>
      </div>
      <div class="project-body">
        <p>This project is a computer system that helps schools keep and manage student records.
          It stores student Names, Grade, Contact Information, and Attendance. Teachers and school
          staff can Add, Update, or search student data Easily. the system saves time and reduces
          errors because everything is done on the computer instead of paper. 
        </p>
      </div>
    </div>
  </div>
</section>
